{# empty Twig template #}
{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Search/assets/css/search.css') }}

{% set search_for_arr =
    {
        0:{'numeric':'all_words','text':'All Words'},
        1:{'numeric':'any_word','text':'Any Word'}
    }
%}

{% set search_ordering_arr =
    {
        0:{'numeric':'newest_first','text':'Newest First'},
        1:{'numeric':'older_first','text':'Older First'}
    }
%}

{% set params = callFunction( "Search.Subsets.Code.Models.SubsetsModel", 'getSubsetTables', params ) %}
{% set search_phrase = callFunction( "Search.Indexes.Code.Models.IndexesModel", 'getSearchPhrase', params ) %}


<h1 class="component-header">Advanced Search</h1>

<form id="main-edit-form" action="{{ generate_url('search.indexes') }}" class="form-horizontal" method="post" role="form" enctype="multipart/form-data">
    <div class="search-keyword">
        <b>Search Keyword:</b><br>
        <div class="input-group">
            <div class="input-group-btn search-panel">
                {% if params|length > 0 %}
                    <button type="button" class="btn btn-default btn-flat dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for param in params %}
                            <li>
                                <a href="#{{ param.alias }}" title="{{ param.title }}">
                                    {{ param.title }}
                                </a>
                            </li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a href="#all" title="Anything">Anything</a></li>
                    </ul>
                {% endif %}
            </div>
            <input type="hidden" name="search_param" value="all" id="search_param">         
            <input type="text" class="form-control" name="search_phrase" value="{{ search_phrase }}" placeholder="Search term...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
            </span>
        </div>
    </div>

    {{ forms.input('_token' ) }} 

</form>
<br>

<div class="advance-search">
    <div class="col-sm-6">
        {{ forms.input('search_for', 'radio', search_for, 'Criteria', null, null, null, null, search_for_arr) }}
    </div>
    <div class="col-sm-6">
        {{ forms.input('search_ordering', 'select', search_ordering, 'Ordering', null, null, null, null, search_ordering_arr) }}
    </div>
</div>   
<div class="clearfix"></div>
<br>

<div class="search-result-list">
    {% if  items|length > 0 %}
        {% for item in items %}
            {% set item_url = generate_url('search.indexes.detail', {'id':item.id}) %}

            <div class="search-result">

                {% if item.media.file != '' %}
                    <a href="{{ item_url }}" title="{{ item.title }}">
                        <img src="{{ resized_image(item.media.file, 90,90) }}" alt="{{ item.media.title }}" title="{{ item.title }}" align="left" width="60px">
                    </a>
                {% endif %}

                <a href="{{ item_url }}" title="{{ item.title }}">
                    <b>
                        {{ item.title }}
                    </b>
                </a>

                <div>
                    {{ item.description|truncate(120) }}
                </div>


                <div class="business-posted-date">
                    <i class="fa fa-clock-o"></i> Posted:  {{ item.date_created|date('d M Y H:i') }} &nbsp;&nbsp;
                    <i class="fa fa-arrow-circle-o-right"></i> In: {{item.subset_id_title }} 
                </div>


            </div>
        {% endfor %}
    {% else %}
        <div class="search-result no-result">
            No Search Result.
        </div>
    {% endif %}


</div>
<div class="clearfix"></div>

{% include "items.pagination.twig"%}