

<ul class=" sidebar-menu ">

    <li class="header">Quick Menus</li>

    <li class="treeview">
        <b>Subscription</b>
        <ul class="menu-open">
            <li>
                <a href="{{ generate_url('admin.subscriptions.subscriptions') }}">All Members</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.subscriptions.subscriptions', {'type':'pro'}) }}">Pro Members</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.subscriptions.subscriptions', {'type':'expired'}) }}">Expired Members</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.subscriptions.subscriptions', {'type':'free'}) }}">Free Members</a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <b>Finance</b>
        <ul>  
            <li>
                <a href="{{ generate_url('admin.finance.tokens') }}">Tokens</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.finance.transactions', {'type':'commission'}) }}">Commission History</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.finance.transactions') }}">Transaction History</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.finance.withdraws') }}">Members Withdrawal</a>
            </li>

            <li>
                <a href="{{ generate_url('admin.finance.payments') }}">Member Payments</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.finance.gateways') }}">Payment Gateways</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.finance.masspay') }}">Mass Pay</a>
            </li>
            <li>
                <a href="{{ generate_url('finance.masspay.generatemasspay') }}" target="_blank">Generate MassPay</a>
            </li>

        </ul>
    </li>

    <li>
        <b>Email Notifications</b>
        <ul>
            <li>
                <a href="{{ generate_url('admin.notification.newsletters') }}">Newsletter</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.notification.templates.layouts') }}">User Emails</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.notification.emails') }}">Email Templates</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.notification.newsletters.automated') }}">Auto Newsletter</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.notification.newsletters.scheduled') }}">Scheduled Newsletter</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.notification.subscribers') }}">Subscriber</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.notification.subscribers.blacklist') }}">Email Black List</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.notification.subscribers.whitelist') }}">Email White List</a>
            </li>
        </ul>
    </li>

    <li>
        <b>Cms & Articles</b>
        <ul>
            <li>
                <a href="{{ generate_url('admin.cms.articles') }}">Article</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.cms.blogs') }}">Blog</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.cms.sliders') }}">Slider</a>
            </li>
        </ul>
    </li>

    <li>
        <b>Ebooks</b>
        <ul>
            <li>
                <a href="{{ generate_url('admin.ebooks.ebooks') }}">Ebooks</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.ebooks.ebooks.edit', {'id':0}) }}">Add Ebook</a>
            </li>
        </ul>
    </li>

    <li>
        <b>Magazines</b>
        <ul>
            <li>
                <a href="{{ generate_url('admin.magazines.magazines') }}">Magazines</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.magazines.magazines.edit', {'id':0}) }}">Add Magazine</a>
            </li>
        </ul>
    </li>


</ul>



<style>
    .quickmenus-left li.header{
        float:none;
    }


    .quickmenus-left li a{
        color:#3c8dbc !important;
    }
    .quickmenus-left li a:hover{
        color:#72afd2 !important;
    }
</style>

