<!DOCTYPE html>
{% import "blocks.index.twig" as block_index %}

{% set left_block_length = left_sidebar_block|length %}
{% set right_block_length = right_sidebar_block|length %}
{% set slider_block_length = slider_block|length %}
{% set top_slider_block_length = top_slider_block|length %}
{% set top_left_block_length = top_left_block|length %}
{% set top_right_block_length = top_right_block|length %}
<html> 
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ system_title }} {% endblock %}</title>

        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        {{ set_assets('themes/frontend/biggie/assets/css/theme.min.css') }}
        {{ set_assets('themes/frontend/biggie/assets/js/lazyload.min.js') }}

        <script>
            kazicode = new Object();
            kazicode.file_url = kazicode.url = "{{ kazi_url.base_root }}";
        </script>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>


        <!-- header logo: style can be found in header.less -->
        <header class="header" >
            <div class="col-md-6">               
                <a href="{{ uri.base.full }}" class="logo text-center" title="{{ system_title }}">
                    <!-- Add the class icon to your logo image or logo icon to add the margining -->

                    <img  src="{{ uri.base.full }}themes/frontend/biggie/assets/images/logo.png" height="75px" alt="{{ system_title }}" title="{{ system_title }}">

                </a>
            </div>
            <div class="col-md-6"> 
                {{ block_index.render_block('search_block') }}
            </div>
            <div class="clearfix"></div>
            <!-- Header Navbar: style can be found in header.less -->
        </header>

        {% include "navbar.index.twig" %}

        <div class="content-wrapper">

            <div class="col-md-12">

                {{ block_index.render_block('menu_block') }}

                {% if slider_block_length > 0 %}
                    {{ block_index.render_block('slider_block') }}
                {% endif %}

                {% if top_slider_block_length > 0 or top_left_block_length > 0 or top_right_block_length > 0  %}
                    <div class="top-three-column">
                        <div class="col-sm-6">
                            {{ block_index.render_block('top_slider_block') }}
                        </div>
                        <div class="col-sm-3">
                            {{ block_index.render_block('top_left_block') }}
                        </div>
                        <div class="col-sm-3">
                            {{ block_index.render_block('top_right_block') }}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="clearfix"></div>

            <div class="col-md-12">

                {% include "messages.index.twig" %}

                {% set has_both_sides = false %}
                {% set mx_width = 'col-md-12' %}
                {% set lg_width = 'col-md-9' %}
                {% set md_width = 'col-md-8' %}
                {% set sm_width = 'col-md-6' %}
                {% set side_sm_width = 'col-md-2' %}
                {% set side_md_width = 'col-md-3' %}
                {% set side_mx_width = 'col-md-4' %}

                {% if left_block_length == 0 and right_block_length == 0 %}
                    {% set main_content_class = mx_width %}
                {% elseif left_block_length > 0 and right_block_length == 0 %}
                    {% set main_content_class = lg_width %}
                    {% set main_left_class = side_md_width %}
                {% elseif left_block_length == 0 and right_block_length > 0 %}
                    {% set main_content_class = md_width %} 
                    {% set main_right_class = side_mx_width %}
                {% elseif left_block_length > 0 and right_block_length > 0 %}
                    {% set has_both_sides = true %}
                    {% set main_content_class = sm_width %}
                    {% set main_left_class = side_md_width %}
                    {% set main_right_class = side_md_width %}
                {% else %}
                    {% set main_content_class = mx_width %}
                {% endif %}


                {% if left_block_length > 0 and not has_both_sides  %}
                    <div class="{{ main_left_class }} sidebar-wrapper">
                        {{ block_index.render_block('left_sidebar_block') }}
                        <div class="clearfix"></div>
                    </div>
                {% endif %}

                <div class="{{ main_content_class }} maincontent-wrapper">

                    {{ block_index.render_block('top_block') }}
                    <div class="clearfix"></div>

                    {% set _block = block('content') %}
                    {% if _block|trim is not empty %}
                        <div class="maincontent">
                            {{ _block|raw }}
                            <div class="clearfix"></div>
                        </div>
                    {% endif %}

                    {{ block_index.render_block('bottom_block') }}

                </div>

                <!-- Show if both sides are set content is shown first -->   
                {% if left_block_length > 0 and has_both_sides  %}
                    <div class="{{ main_left_class }} sidebar-wrapper">
                        {{ block_index.render_block('left_sidebar_block') }}
                        <div class="clearfix"></div>
                    </div>
                {% endif %}

                {% if right_block_length > 0 %}
                    <div class="{{ main_right_class }} sidebar-wrapper">
                        {{ block_index.render_block('right_sidebar_block') }}
                        <div class="clearfix"></div>
                    </div>
                {% endif %}

                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>

        </div>

        {{ block_index.render_block('footer_block') }}

        <div class="clearfix"></div>
        <div class="footer">

            <div class="container-wrapper">
                <div>
                    <div class="col-sm-3">
                        {{ block_index.render_block('footer_block_1') }}
                    </div>
                    <div class="col-sm-3">
                        {{ block_index.render_block('footer_block_2') }}
                    </div>
                    <div class="col-sm-3">
                        {{ block_index.render_block('footer_block_3') }}
                    </div>
                    <div class="col-sm-3">
                        {{ block_index.render_block('footer_block_4') }}
                    </div>
                </div>
                <p class="text-center">
                    All right Reserved. {{ system_title }} &copy; 2013 - {{ now|date('Y') }}
                </p>
            </div>
        </div>
    </body>
</html>


<script>

    jQuery("document").ready(function () {

        var nav = jQuery('.header');

        if (jQuery(window).width().500) {
            jQuery(window).scroll(function () {

                if (jQuery(this).scrollTop() > 136) {
                    nav.addClass("fixed-nav");
                } else {
                    nav.removeClass("fixed-nav");
                }
            });
        }
    });
</script>