
{% import "form.macro.twig" as forms %}

<form id="{{ main_form_id }}" class="form-horizontal" action="{{ generate_url('admin.system.settings.save') }}" method="post" role="form"  enctype="multipart/form-data">


    <br>
    <div class="col-md-12">
        <div class="col-md-3">
            <ul id="kazi-system" class="nav nav-pills nav-stacked">

                {% for key,subset in subsets %}

                    <li  {% if path_subset.id == subset.id %}class="active"{% endif %}> 
                        {% if subset.path is not null %}
                            <a href="{{ generate_url('admin.system.settings', { 'path':subset.path|replace({'/':'.'}) }) }}" title="{{ subset.title }}">
                                {{ subset.title }}
                            </a>
                        {% else %}
                            {{ subset.title }}
                        {% endif %}
                    </li>

                {% endfor %}  

            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content col-md-9">
            <div class="tab-pane active" id="main-setting">
                {{ settings_html|raw }}
            </div>
        </div>
    </div>  

    {{ forms.input('_token' ) }} 

</form>   

<style>
    #main-setting .btn-success{
        display: none;
    }
</style>






















{{ forms.input('id', 'hidden', item.id, 'Id')  }}

{{ forms.input('_token' ) }} 

</form>