{% macro input(name, type, default, label, class, id, attributes, readonly, options, setting) %}

    {% set default = '' %} 

    {% if (label is empty) %}
        <input id="{{ idname(id, name) }}" class="{{ classname(class, name) }}" name="{{ fieldname(name) }}" type="{{ type|default('password') }}" value="{{ default|e }}"  {{ attributes|raw }} />
    {% else %}
        <div class="form-group {{ classname(class, name, false) }}-group">
            <label for="{{ name }}" class="col-sm-3 control-label">{{ label }}</label>
            <div class="col-sm-9 {% if readonly %}form-control-static{% endif %}">
                {% if not readonly %}
                    <input id="{{ idname(id, name)}}" class="{{ classname(class, name) }}" name="{{ fieldname(name) }}" type="{{ type|default('password') }}" value="{{ default|e }}"  {{ attributes|raw }} />
                {% else %}
                    {{ default|e }}
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endmacro %}

